extends layout

block content
  h1= title
  p Welcome to #{title}
  h2 Create a new crawl 
  form(name="crawl", action="crawl", method="post")
    | URL:
    input(type="text", value="http://allrecipes.com", name="url")
    input(type="submit", value="Crawl")
  form(name="parse", action="parse", method="post")
    | URL:
    input(type="submit", value="Parse")
  form(name="generate", action="generate", method="post")
    | URL:
    input(type="submit", value="Generate Table")
  form(name="list", action="list", method="post")
    | URL:
    input(type="submit", value="Show Table")
  form(name="random", action="random", method="post")
    | URL:
    input(type="submit", value="Random recipe")
